$primary: #3498db;
$secondary: #fff;

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "reusables";
@import "skeleton";

body {
    font-family: 'Poppins', sans-serif;
    background: #f6f8f9;
}

// sections
section {
    padding: 60px 0;

    &.header-section {
        background: url('../img/background.png'), #3498db;
        min-height: 40vh;
    }
}

// card loader
.loader {
    display: none;
}

// ==========

.input-container {
    width: 50%;

    @include mobile-tablet {
        width: 80%;
    }
}

// handle error state
.error {
    border-color: red;
}

.error-message {
    visibility: hidden;
}

// ===========