@import "variables";
@import "reusables";
@import "skeleton";

body {
    font-family: 'Poppins', sans-serif;
    background: $light-grey;
}

// sections
section {
    padding: 60px 0;

    &.header-section {
        background: url('../img/background.png'), $primary-color;
        min-height: 35vh;
    }
}

// card loader
.loader {
    display: none;
}

// ==========

.review-list-item {
    cursor: pointer;
    text-decoration: underline;
    list-style: none;
    width: fit-content;
}

// error state

.error {
    border-color: $error-color;
}

.error-message {
    visibility: hidden;
    color: $error-color;
}

// ===========